
<div class="page-padding">
  <h3 class="name-home-show">Environment: &#8287;<%= @home.name %></h3>
    <p class="location-home-show"> <i class="fas fa-location-arrow"></i><span>&nbsp;</span><%= @home.location %> </p>
<hr class="mb-5">

<h4> Your Devices </h4>
<hr>
<div class="container-show-2 d-flex justify-content-between">
  <div>
<%# the big graph start  %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link btn-format active" id="daily-tab" data-toggle="tab" href="#daily_total" role="tab" aria-controls="daily" aria-selected="true">daily</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link btn-format" id="weekly-tab" data-toggle="tab" href="#weekly_total" role="tab" aria-controls="weekly" aria-selected="false">weekly</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link btn-format" id="monthly-tab" data-toggle="tab" href="#monthly_total" role="tab" aria-controls="monthly" aria-selected="false">monthly</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="daily_total" role="tabpanel" aria-labelledby="daily-tab">
      <div class="daily-amcharts-total" id="daily_total_div" style="width: 600px; height: 400px;"></div>
      <div class="daily-amcharts-total-price" id="daily_total_price_div" style="width: 600px; height: 400px;"></div>
      <h1 id="total-day-sum"></h1>
      <h1 id="total-day-high"></h1>
      <h1 id="total-day-low"></h1>
      <h1 id="total-day-price"></h1>


  </div>
  <div class="tab-pane fade" id="weekly_total" role="tabpanel" aria-labelledby="weekly-tab">
      <div class="weekly-amcharts-total" id="weekly_total_div" style="width: 600px; height: 400px;"></div>
      <div class="weekly-amcharts-total-price" id="weekly_total_price_div" style="width: 600px; height: 400px;"></div>
      <h1 id="total-week-sum"></h1>
      <h1 id="total-week-high"></h1>
      <h1 id="total-week-low"></h1>
      <h1 id="total-week-price"></h1>


  </div>
  <div class="tab-pane fade" id="monthly_total" role="tabpanel" aria-labelledby="monthly-tab">
      <div class="monthly-amcharts-total" id="monthly_total_div" style="width: 600px; height: 400px;"></div>
      <div class="monthly-amcharts-total-price" id="monthly_total_price_div" style="width: 600px; height: 400px;"></div>
      <h1 id="total-month-sum"></h1>
      <h1 id="total-month-high"></h1>
      <h1 id="total-month-low"></h1>
      <h1 id="total-month-price"></h1>

  </div>
</div>
<%# the big graph code end  %>
<% num_of_total_arr = [*0..(@devices.length - 1)] %>
<h1><%= num_of_total_arr %></h1>
<div data-num2 = "<%= num_of_total_arr%>" id="num_of_devices"></div>
<div>

  <% @devices.each_with_index do |device,index| %>
    <p class="device-name" id="name<%=index%>"><%= device.name %></p>
    <p class="device-category"><%= device.category %></p>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link btn-format active" id="daily-tab" data-toggle="tab" href="#daily_<%=index%>" role="tab" aria-controls="daily" aria-selected="true"><p>daily</p></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link btn-format" id="weekly-tab" data-toggle="tab" href="#weekly_<%=index%>" role="tab" aria-controls="weekly" aria-selected="false"><p>weekly</p></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link btn-format" id="monthly-tab" data-toggle="tab" href="#monthly_<%=index%>" role="tab" aria-controls="monthly" aria-selected="false"><p>monthly</p></a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="daily_<%=index%>" role="tabpanel" aria-labelledby="daily-tab">
        <div class="device-charts-card d-flex justify-content-between align-items-center">
         <div data-id="<%=index%>" class="charts" id="daily_<%=index%>_div" style="width: 300px; height: 300px;"></div>
          <div data-id="<%=index%>"  class="daily-amcharts-price" id="daily_price_<%=index%>_div" style="width: 300px; height: 300px;"></div>
          <div class="chart-sum-card">
            <h1>sum</h1>
            <h1 id="daily-sum<%=index%>"></h1>
            <h1>high</h1>
            <h1 id="daily-high<%=index%>"></h1>
            <h1>low</h1>
            <h1 id="daily-low<%=index%>"></h1>
            <h1>price</h1>
            <h1 id="daily-price<%=index%>"></h1>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="weekly_<%=index%>" role="tabpanel" aria-labelledby="weekly-tab">
        <div class="device-charts-card d-flex justify-content-between align-items-center">
         <div data-id="<%=index%>" class="week-amcharts" id="weekly_<%=index%>_div" style="width: 300px; height: 300px;"></div>
          <div data-id="<%=index%>"  class="weekly-amcharts-price" id="weekly_price_<%=index%>_div" style="width: 300px; height: 300px;"></div>
          <div class="chart-sum-card">
            <h1>sum</h1>
            <h1 id="weekly-sum<%=index%>"></h1>
            <h1>high</h1>
            <h1 id="weekly-high<%=index%>"></h1>
            <h1>low</h1>
            <h1 id="weekly-low<%=index%>"></h1>
            <h1>price</h1>
            <h1 id="weekly-price<%=index%>"></h1>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="monthly_<%=index%>" role="tabpanel" aria-labelledby="monthly-tab">
        <div class="device-charts-card d-flex justify-content-between align-items-center">
         <div data-id="<%=index%>" class="monthly-amcharts" id="monthly_<%=index%>_div" style="width: 300px; height: 300px;"></div>
          <div data-id="<%=index%>"  class="monthly-amcharts-price" id="monthly_price_<%=index%>_div" style="width: 300px; height: 300px;"></div>
          <div class="chart-sum-card">
            <h1>sum</h1>
            <h1 id="monthly-sum<%=index%>"></h1>
            <h1>high</h1>
            <h1 id="monthly-high<%=index%>"></h1>
            <h1>low</h1>
            <h1 id="monthly-low<%=index%>"></h1>
            <h1>price</h1>
            <h1 id="monthly-price<%=index%>"></h1>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<button class="btn-home"><%= link_to "Return", homes_path, class: "btn-home-text"%></button>



</div>
