
<div class="page-padding">
  <h3 class="name-home-show">Environment: &#8287;<%= @home.name %></h3>
    <p class="location-home-show"> <i class="fas fa-location-arrow"></i><span>&nbsp;</span><%= @home.location %> </p>
<hr class="mb-5">
  <div>
<% @devices.each do |device| %>
 <p class="device-name"><%= device.name %></p>
 <p class="device-category"><%= device.category %></p>
<% end %>
</div>

<hr class-"mt-5">
<button class="btn-home"><%= link_to "Return", homes_path, class: "btn-home-text"%></button>
</div>
