
<div class="page-padding">
  <h3 class="name-home-show">Environment: &#8287;<%= @home.name %></h3>
    <p class="location-home-show"> <i class="fas fa-location-arrow"></i><span>&nbsp;</span><%= @home.location %> </p>
<hr class="mb-5">

<h4> Your Devices </h4>
<hr>
<div class="container-show-2 d-flex justify-content-between">
  <div>
<% @devices.each_with_index do |device,index| %>
 <p class="device-name"><%= device.name %></p>
 <p class="device-category"><%= device.category %></p>
<%# this is the beginign of drop down  %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="daily-tab" data-toggle="tab" href="#daily_<%=index%>" role="tab" aria-controls="daily" aria-selected="true">daily</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="weekly-tab" data-toggle="tab" href="#weekly_<%=index%>" role="tab" aria-controls="weekly" aria-selected="false">weekly</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="monthly-tab" data-toggle="tab" href="#monthly_<%=index%>" role="tab" aria-controls="monthly" aria-selected="false">monthly</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="daily_<%=index%>" role="tabpanel" aria-labelledby="daily-tab">
        <div class="charts" id="daily_<%=index%>_div" style="width: 600px; height: 400px;"></div>
  </div>
  <div class="tab-pane fade" id="weekly_<%=index%>" role="tabpanel" aria-labelledby="weekly-tab">
                    <h1>Average</h1>
              <h1 id="weekly-sum<%=index%>"></h1>


            <div class="week-amcharts" id="weekly_<%=index%>_div" style="width: 600px; height: 400px;"></div>
  </div>
  <div class="tab-pane fade" id="monthly_<%=index%>" role="tabpanel" aria-labelledby="monthly-tab">
            <div class="monthly-amcharts" id="monthly_<%=index%>_div" style="width: 600px; height: 400px;"></div>
  </div>
</div>
<%# this is the end of drop down %>

<% end %>


<button class="btn-home"><%= link_to "Return", homes_path, class: "btn-home-text"%></button>



</div>
