
<div class="page-padding-dashboard">
  <h3 class="name-home-show">Environment: &#8287;<%= @home.name %></h3>
    <p class="location-home-show"> <i class="fas fa-location-arrow"></i><span>&nbsp;</span><%= @home.location %> </p>
<hr class="mb-5">

<h4> Total Energy Consumption </h4>
<hr>


<%# the big graph start  %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link btn-format active" id="daily-tab" data-toggle="tab" href="#daily_total" role="tab" aria-controls="daily" aria-selected="true">daily</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link btn-format" id="weekly-tab" data-toggle="tab" href="#weekly_total" role="tab" aria-controls="weekly" aria-selected="false">weekly</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link btn-format" id="monthly-tab" data-toggle="tab" href="#monthly_total" role="tab" aria-controls="monthly" aria-selected="false">monthly</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="daily_total" role="tabpanel" aria-labelledby="daily-tab">
        <div class="total-sum-container d-flex justify-content-between">
          <div class="total-sum-card">
            <p class="card-total-title">Total Energy Consumption</p>
            <div class="d-flex justify-content-center">
              <%= image_tag "line.svg", width: 50, height: 50 %>&#8287; &#8287;<p class="card-total-value" id="total-day-sum"></p>
            </div>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Highest Energy Consumption</p>
            <div class="d-flex justify-content-center">
              <%= image_tag "up-line.svg", width: 50, height: 50 %>&#8287; &#8287;
              <p class="card-total-value" id="total-day-high"></p>
            </div>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Lowest Energy Consumption</p>
            <div class="d-flex justify-content-center">
              <%= image_tag "down-line.svg", width: 50, height: 50 %>&#8287; &#8287;
              <p class="card-total-value" id="total-day-low"></p>
            </div>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Total Price</p>
            <div class="d-flex justify-content-center">
              <%= image_tag "pound.svg", width: 50, height: 50 %>&#8287; &#8287;
              <p class="card-total-value" id="total-day-price"></p>
            </div>
          </div>
        </div>
        <div  class="total-container d-flex justify-content-between">
          <div class="daily-amcharts-total" id="daily_total_div" style="width: 600px; height: 500px;"></div>
          <div class="daily-amcharts-total-price" id="daily_total_price_div" style="width: 600px; height: 500px;"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="weekly_total" role="tabpanel" aria-labelledby="weekly-tab">
       <div class="total-sum-container d-flex justify-content-between">
          <div class="total-sum-card">
            <p class="card-total-title">Total Energy Consumption</p>
            <p class="card-total-value" id="total-week-sum"></p>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Highest Energy Consumption</p>
            <p class="card-total-value" id="total-week-high"></p>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Lowest Energy Consumption</p>
            <p class="card-total-value" id="total-week-low"></p>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Total Price</p>
            <p class="card-total-value" id="total-week-price"></p>
          </div>
      </div>
      <div  class="total-container d-flex justify-content-between">
        <div class="weekly-amcharts-total" id="weekly_total_div" style="width: 600px; height: 500px;"></div>
        <div class="weekly-amcharts-total-price" id="weekly_total_price_div" style="width: 600px; height: 500px;"></div>
      </div>
    </div>
    <div class="tab-pane fade" id="monthly_total" role="tabpanel" aria-labelledby="monthly-tab">
       <div class="total-sum-container d-flex justify-content-between">
          <div class="total-sum-card">
            <p class="card-total-title">Total Energy Consumption</p>
            <p class="card-total-value" id="total-month-sum"></p>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Highest Energy Consumption</p>
            <p class="card-total-value" id="total-month-high"></p>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Lowest Energy Consumption</p>
            <p class="card-total-value" id="total-month-low"></p>
          </div>
          <div class="total-sum-card">
            <p class="card-total-title">Total Price</p>
            <p class="card-total-value" id="total-month-price"></p>
          </div>
          </div>
      <div  class="total-container d-flex justify-content-between">
        <div class="monthly-amcharts-total" id="monthly_total_div" style="width: 600px; height: 500px;"></div>
        <div class="monthly-amcharts-total-price" id="monthly_total_price_div" style="width: 600px; height: 500px;"></div>

        </div>
     </div>
  </div>

<%# the big graph code end  %>

<h4> Devices Energy Consumption </h4>
<hr>

<% num_of_total_arr = [*0..(@devices.length - 1)] %>
<h1><% num_of_total_arr %></h1>
<div data-num2 = "<%= num_of_total_arr%>" id="num_of_devices"></div>
<div>

  <% @devices.each_with_index do |device,index| %>
    <p class="device-name" id="name<%=index%>"><%= device.name %></p>
    <p class="device-category"><%= device.category.name %></p>
    <hr>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link btn-format-device active" id="daily-tab" data-toggle="tab" href="#daily_<%=index%>" role="tab" aria-controls="daily" aria-selected="true">daily</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link btn-format-device" id="weekly-tab" data-toggle="tab" href="#weekly_<%=index%>" role="tab" aria-controls="weekly" aria-selected="false">weekly</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link btn-format-device" id="monthly-tab" data-toggle="tab" href="#monthly_<%=index%>" role="tab" aria-controls="monthly" aria-selected="false">monthly</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="daily_<%=index%>" role="tabpanel" aria-labelledby="daily-tab">
        <div class="device-charts-card d-flex justify-content-between align-items-center">
          <div class="chart-card">
           <div data-id="<%=index%>" class="charts" id="daily_<%=index%>_div" style="width: 400px; height: 400px;"></div>
          </div>
          <div class="chart-card">
           <div data-id="<%=index%>"  class="daily-amcharts-price" id="daily_price_<%=index%>_div" style="width: 400px; height: 400px;"></div>
          </div>
          <div class="chart-sum-card d-flex flex-column justify-content-between">
            <div class="total-card">
              <p class="card-title">Total Energy</p>
              <p class="card-value" id="daily-sum<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Highest Energy</p>
              <p class="card-value" id="daily-high<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Lowest Energy</p>
              <p class="card-value" id="daily-low<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Total Price</p>
              <p class="card-value" id="daily-price<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="weekly_<%=index%>" role="tabpanel" aria-labelledby="weekly-tab">
        <div class="device-charts-card d-flex justify-content-between align-items-center">
         <div data-id="<%=index%>" class="week-amcharts" id="weekly_<%=index%>_div" style="width: 400px; height: 400px;"></div>
          <div data-id="<%=index%>"  class="weekly-amcharts-price" id="weekly_price_<%=index%>_div" style="width: 400px; height: 400px;"></div>
          <div class="chart-sum-card d-flex flex-column justify-content-between">
            <div class="total-card">
              <p class="card-title">Total Energy</p>
              <p class="card-value" id="weekly-sum<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Highest Energy</p>
              <p class="card-value" id="weekly-high<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Lowest Energy</p>
              <p class="card-value" id="weekly-low<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Total Price</p>
              <p class="card-value" id="weekly-price<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="monthly_<%=index%>" role="tabpanel" aria-labelledby="monthly-tab">
        <div class="device-charts-card d-flex justify-content-between align-items-center">
         <div data-id="<%=index%>" class="monthly-amcharts" id="monthly_<%=index%>_div" style="width: 400px; height: 400px;"></div>
          <div data-id="<%=index%>"  class="monthly-amcharts-price" id="monthly_price_<%=index%>_div" style="width: 400px; height: 400px;"></div>
          <div class="chart-sum-card d-flex flex-column justify-content-between">
            <div class="total-card">
              <p class="card-title">Total Energy</p>
              <p class="card-value" id="monthly-sum<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Highest Energy</p>
              <p class="card-value" id="monthly-high<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Lowest Energy</p>
              <p class="card-value" id="monthly-low<%=index%>"></p>
            </div>
            <div class="total-card">
              <p class="card-title">Total Price</p>
              <p class="card-value" id="monthly-price<%=index%>"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<button class="btn-home"><%= link_to "Return", homes_path, class: "btn-home-text"%></button>



</div>
