<div class="page-padding">
<h1 class="name-home-show"><%= @home.name %></h1>
<h3 class="location-home-show"> <%= @home.location %> </h3>
 <p>Eco-State:<%= @home.eco_function %></p>
 <p>Home-Away:<%= @home.home_away_function %></p>


<%# <%= link_to "Delete", home_path(@home), method: :delete, data: { confirm: "Are you sure?" } %>
<%# <%= link_to "edit", home_path(@home), method: :edit, data: { confirm: "Are you sure?" } %>

<h4> Your Devices </h4>
<div class="d-flex">
  <div>
<% @devices.each do |device| %>
 <p><%= device.name %></p>
 <p><%= device.category %></p>
    <%# device.energies.each do |energy| %>
      <%#= energy.kilowatts %>
    <%# end %>
<% end %>
<div>
<br>
<div>
<input type="checkbox" class="toggle" id="toggle" />
<label for="toggle">Add a new Device</label>
<div class="toggled">
  <%= simple_form_for [@home, @device] do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.button :submit %>
  <% end %>
</div>
</div>

</div>



<button class="btn-home"><%= link_to "Return to Homes", homes_path, class: "btn-home-text"%></button>
<button class="btn-home"><%= link_to "Edit Home", edit_home_path, class: "btn-home-text" %></button>

</div>
