
<div class="dotswrap" id="hideMe">
<div class="loader anime" >
  <div class="dots dot1"></div>
  <div class="dots dot2"></div>
  <div class="dots dot3"></div>
  <div class="dots dot4"></div>
</div>
</div>

<div class="test" id="hideMe"></div>




<div class="page-padding-dashboard">
<div class="show-box d-flex justify-content-between">
<div>
  <h3 class="name-home-show"><%= @home.name %></h3>
    <p class="location-home-show"> <i class="fas fa-location-arrow"></i><span>&nbsp;</span><%= @home.location %> </p>
  </div>
  <div class="functions">

 <div id="app-cover">
<div class="holder">  <p>Eco-State</p> </div>
    <div class="toggle-button-cover add-margin">
      <div class="button-cover">
        <div class="button r" id="button-3">
          <input type="checkbox" class="checkbox1">
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>

<div id="app-cover">
<div class="holder">  <p>Home-Away</pq> </div>
    <div class="toggle-button-cover">
      <div class="button-cover">
        <div class="button r" id="button-3">
          <input type="checkbox" class="checkbox1">
          <div class="knobs"></div>
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>

</div>
  <div>
    <button class="btn-home"><%= link_to "Dashboard", home_devices_path(@home), class: "btn-home-text" %></button>
  </div>
</div>
<hr>
<div class="container-show-1 d-flex justify-content-between">
  <% @home.devices.each do |device| %>

  <div class="connected-svg-container d-flex ">
   <div class="connected-svg">
    <% if device.category.photo.attached? %>
    <%= cl_image_tag device.category.photo.key, height: 100, width: 100 %>
    <% end %>

   </div>
  <div id="horizontal-dots-preloader">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

 </div>
<% end %>



</div>


<h4> Your Devices </h4>
<hr>
<div class="container-show-2 d-flex justify-content-between">
  <div>
<% @devices.each do |device| %>
 <p class="device-name"><%= device.name %></p>
 <p class="device-category"><%= device.category.name %></p>
<% end %>
</div>

<div>
<input type="checkbox" class="toggle" id="toggle" />
<label for="toggle">Add a new Device</label>
<div class="toggled">
  <div class="add-form">
  <%= simple_form_for [@home, @device] do |f| %>
    <%= f.input :name, class: "add-input" %>
    <%= f.association :category, collection: @categories, class: "add-input" %>

    <%= f.button :submit %>
  <% end %>
</div>
</div>
</div>

</div>

<hr>
<div class="show-buttons-container d-flex justify-content-between">
<button class="btn-home"><%= link_to "Return", homes_path, class: "btn-home-text"%></button>
<button class="btn-home"><%= link_to "Edit", edit_home_path, class: "btn-home-text" %></button>
<button class="btn-home"><%= link_to "Delete", home_path(@home), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-home-text" %></button>
</div>



</div>


